@font-face {
    font-family: 'Mitr';
    src: url('Mitr-Bold.eot');
    src: url('Mitr-Bold.eot@') format('embedded-opentype'),
        url('Mitr-Bold.woff2.html') format('woff2'),
        url('Mitr-Bold.woff') format('woff'),
        url('Mitr-Bold.ttf') format('truetype'),
        url('Mitr-Bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mitr';
    src: url('Mitr-ExtraLight.eot');
    src: url('Mitr-ExtraLight.eot@') format('embedded-opentype'),
        url('Mitr-ExtraLight.woff2.html') format('woff2'),
        url('Mitr-ExtraLight.woff') format('woff'),
        url('Mitr-ExtraLight.ttf') format('truetype'),
        url('Mitr-ExtraLight.svg') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mitr';
    src: url('Mitr-Light.eot');
    src: url('Mitr-Light.eot@') format('embedded-opentype'),
        url('Mitr-Light.woff2.html') format('woff2'),
        url('Mitr-Light.woff') format('woff'),
        url('Mitr-Light.ttf') format('truetype'),
        url('Mitr-Light.svg') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mitr';
    src: url('Mitr-Regular.eot');
    src: url('Mitr-Regular.eot@') format('embedded-opentype'),
        url('Mitr-Regular.woff2.html') format('woff2'),
        url('Mitr-Regular.woff') format('woff'),
        url('Mitr-Regular.ttf') format('truetype'),
        url('Mitr-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mitr';
    src: url('Mitr-Medium.eot');
    src: url('Mitr-Medium.eot@') format('embedded-opentype'),
        url('Mitr-Medium.woff2.html') format('woff2'),
        url('Mitr-Medium.woff') format('woff'),
        url('Mitr-Medium.ttf') format('truetype'),
        url('Mitr-Medium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mitr';
    src: url('Mitr-SemiBold.eot');
    src: url('Mitr-SemiBold.eot@') format('embedded-opentype'),
        url('Mitr-SemiBold.woff2.html') format('woff2'),
        url('Mitr-SemiBold.woff') format('woff'),
        url('Mitr-SemiBold.ttf') format('truetype'),
        url('Mitr-SemiBold.svg') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

